<div>
    <div>
     <p>LIKE NGAY ĐỂ KHÔNG BỎ LỠ NHỮNG BÀI VIẾT HAY NHÉ!</p>
    </div>
    <div>
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/Th%C6%B0-Vi%E1%BB%87n-%E1%BA%A2nh-C%C6%B0%E1%BB%9Bi-791348434372877/&amp;width=245&amp;colorscheme=light&amp;show_faces=true&amp;connections=9&amp;stream=false&amp;header=false&amp;height=270" scrolling="no" frameborder="0" scrolling="no" style="border: medium none; overflow: hidden; height: 270px; width: 245px;background:#fff;">
    </iframe>
    </div>
</div>