<div>
  <div class="popupHeader">
    <span class="header_title">{{title}}</span>
  </div>
  <div class="social_login" *ngIf="page==='home'">
    <div class="">
      <span class="social_box fb">
                <span class="icon"><i class="fa fa-facebook"></i></span>
                <span class="icon_title">Kết nối bằng Facebook</span>
          </span>

      <span class="social_box google">
                <span class="icon"><i class="fa fa-google-plus"></i></span>
                <span class="icon_title">Kết nối bằng Google</span>
          </span>
    </div>

    <div class="centeredText">
      <span>Hoặc dùng tài khoản của bạn</span>
    </div>

    <div class="action_btns">
      <div class="one_half btn" (click)="loginPage()">Login</div>
      <div class="one_half last btn" (click)="registerPage()">Sign up</div>
    </div>
  </div>


  <div class="user_login" *ngIf="page==='lp'">
     <p style="color: red;">{{login_err}}</p>
    <form [formGroup]="login_form">
      <label>Username</label>
      <input formControlName="username" placeholder="Username">
      <br />

      <label>Password</label>
      <input formControlName="password" placeholder="Password">
      <br />

      <div class="action_btns">
        <div class="one_half btn back_btn" (click)="back()"><i class="fa fa-angle-double-left"></i> Back</div>
        <div class="one_half last btn btn_red" (click)="login()">Login</div>
      </div>
    </form>

    <a class="forgot_password">Forgot password?</a>
  </div>


  <div class="user_register" *ngIf="page==='rp'">
    <form [formGroup]="register_form">
      <p style="color: red;">{{register_err}}</p>
      <label>Full Name</label>
      <input formControlName="username" placeholder="Full name">
      <br />

      <label>Email Address</label>
      <input formControlName="email" placeholder="Email">
      <br />

      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Password">

      <br />
      <label>Retype Password</label>
      <input type="password" formControlName="rp" placeholder="Retype Password">
      <br/>
      <div class="action_btns">
        <div class="one_half btn back_btn" (click)="back()"><i class="fa fa-angle-double-left"></i> Back</div>
        <div class="one_half last btn btn_red" (click)="register()">Register</div>
      </div>
    </form>
  </div>
</div>
